<%- include('./partials/header.ejs') %>
<form method="get" action="/access/addcustomer" >
    <button type="submit" class="btn btn-primary">Add Customer</button>
</form>
<br>
<form method="get" action="/access/customerlogin">
    <button class="btn btn-primary"> Customer Details</button>
</form>
<br>
<form method="get" action="/">
    <button class="btn btn-primary" > Back</button>
</form>
<%- include('./partials/footer.ejs') %>