<%- include('./partials/header.ejs') %>
<div class="container">
    <div class="row">
        <div class="col-sm-6 mt-5">
<h2 class="alert alert-success text-center"> Enter Customer's Details</h2>
<form method="post" action="/access/Addcustomer">
    <div class="mb-3">
        <label for="customername" class="form-label">Customer Name</label>
        <input type="text" class="form-control" id="customername" name="customername" />
    </div>
    <div class="mb-3">
        <label for="mobileno" class="form-label">Mobile No</label>
        <input type="number" class="form-control" id="mobileno" name="mobileno" />
    </div>
    <div class="mb-3">
        <label for="customeraddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="customeraddress" name="customeraddress" />
    </div>
    <button  type="submit" class="btn btn-primary"> ENTER </button>
</form>
     </div>
  </div>
</div>   
<form method="get" action="/access">
    <button type="submit" class="btn btn-primary">BACK</button>
</form>

<%- include('./partials/footer.ejs') %>